finance-datareader
pandas
pandas-ta
requests
joblib
xgboost
scikit-learn
numpy
lightgbm
matplotlib
websockets
pytelegrambotapi
django-timedeltafield
google-api-python-client
holidays
openpyxl
feedparser
cryptography
deep-translator
google-genai
openai
SQLAlchemy>=2.0.0
psycopg2-binary
yfinance
fear-and-greed
flask
